spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/pgvector}
    username: ${DB_USER_NAME:root}
    password: ${DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    show-sql: true
